*, ::after, ::before {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}
ul, li {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

.main-wrapper {
  background-color: #ddd;
}

.main-menu-wrapper {
  background-color: green;
}

.main-menu {
  padding: 15px;
  background-color: blue;
}

.sec-menu-wrapper {
  background-color: brown;
}

.images {
  background-color: yellow;
}

.sec-menu {
  padding: 15px;
  display: flex;
  align-content: center;
  justify-content: start;
  flex-direction: row;
}

.sec-menu-item {
  margin-right: 5px;
}

.main-content {
  margin-top: 40px;
  margin-bottom: 40px; 
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.row {
  display: flex;
  margin: 0 -15px; 
  /* グリッドを使わないコンテンツとグリッドを使うコンテンツとの位置を調整 */
}

.col-1 {
  flex-basis: 33.33%;
}

.col-2 {
  flex-basis: 66.67%;
}

.col-3 {
  flex-basis: 100%;
}


@media (min-width: 600px) {
  .col-lg-1 {
    flex-basis: 33.33%;
  }
  .col-lg-2 {
    flex-basis: 66.67%;
  }
  .col-lg-3 {
    flex-basis: 100%;
  }
}

.col-1, .col-2, .col-3, .col-lg-1, .col-lg-2, .col-lg-3 {
  padding: 0 15px;
}